/*  your css code here. If applicable */
body{
	display:flex;
	height:100vh;
	justify-content: center;
    align-items: center;
}

.container{
	background-color:yellow;
	border:5px solid black;
	border-radius:15px;
	padding: 30px;
    width:600px;
	height:20vh;
	
}

#verification_heading{
	text-align:center;
	font-size:30px;
	border-buttom:15px;
}

#verification_subtext{
	color:pink;
	border-buttom:20px;
	
}

.code-container{
	display:flex;
	justify-content:space-between;
	
}
.code{
	height:50px;
	width:55px;
	font-size:30px;
	border:5px solid black;
	border-radius:10px;
	text-align:center;
	
}





